@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;600&display=swap');


:root{
  --width: calc(45vw + 100px);
  --max-width: 490px;
  --offWhite: #cfcfcf;
}

* {
  color:#cfcfcf;
  font-family: 'Noto Sans JP', sans-serif;
}

body{
  margin: 0;
}

.App{
  position: absolute;
  min-width: 100%;
  min-height:100%;
  background:#6d6179;
  background: rgba(0,0,0,.85);
  background-attachment: fixed;
  padding: 75px 0 100px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.Input{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

input{
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 40px;
  font-weight: 600;
  flex: 1 1;
  width: var(--width);
  max-width: var(--max-width);
  border-bottom:2px solid var(--offWhite);
  margin: 10px 0;
}

input::placeholder{
  color:rgba(207, 207, 207, .3);

  background-color: transparent;
}


#Summary{
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;

  width: var(--width);
  max-width: var(--max-width);
  margin: 75px auto;
}

#Summary > p{
  margin:0;
}




p{
  font-weight: 400;
  font-size: 20px;
}

.DayRow, #Accessories{
  display: flex;
  height:130px;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}


.DayRow > p, #Accessories > p{
  text-align: left;
  width: 100px;
  margin:0 40px;
  
}

.subTitle{
  font-weight: 600;
  font-size: 25px;
}




img{
  height:15vw;
  max-height:130px;
}
